/* Supplier List */
.supplier-list .card {
  height: 128px;
}

.supplier-list .card:hover {
  background: rgba(255, 255, 255, 0.05);
  color: black;
}

.supplier-list img {
  max-height: 80px;
  min-height: 70px;
}

/* Login Page */
@media (max-width: 1400px) {
  .supplier-login-img {
    max-width: 35%;
  }
  
  .sname h1 {
    font-size: 3rem;
  }

  .sdesc h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .sname h1 {
    font-size: 2.5rem;
  }

  .sdesc h3 {
    font-size: 1.2rem;
  }
}